/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include img-center;
    margin-top: $px-2;
    max-width: $flex-1; 
    max-height: $flex-1;
  
    &-frame {
      @include img-center;
      margin-top: $px-2;
      max-width: $flex-1;
      padding: 13px;
      border: 1px solid #ccc;
    }
    
    &-logo {
      @include img-center;
    }
}