//main colors
$color-1: #51ddfc;

$color-2: #e4757a;

$color-3: #44dd84;

$color-4: #453175;

$color-5: #ddae55;

$head-prim-color: #58e1c1;

$head-sec-color: #777;

$theme-1-col: #927bc1;

$theme-2-col: #fd7856;

$theme-3-col: #deb2ee;

$theme-4-col: #7ee6fd;

$theme-5-col: #88d9a0;

$theme-6-col: #4da2bb;

$theme-7-col: #ec9fa3;

$theme-8-col: #fd9f85;

$theme-9-col: #e4757a;

$theme-10-col: #63cc82;

$theme-11-col: #51ddfc;

$theme-12-col: #80e8d1;

//media queries
$brk-small: '(min-width: 768px)';

//px & basis
$px-1: 20px;
$px-2: 10px;
$flex-1: 100%