/* ============================================= */
/*              Grid System                      */
/* ============================================= */
.col{
  @include col;}

.container {
    padding: 0 $px-2;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em $px-2;
  }
  
  .theme.col-1 {
    background-color: $theme-1-col;
  }
  
  .theme.col-2 {
    background-color:  $theme-2-col;
  }
  
  .theme.col-3 {
    background-color:  $theme-3-col;
  }
  
  .theme.col-4 {
    background-color: $theme-4-col;
  }
  
  .theme.col-5 {
    background-color: $theme-5-col;
  }
  
  .theme.col-6 {
    background-color: $theme-6-col;
  }
  
  .theme.col-7 {
    background-color: $theme-7-col;
  }
  
  .theme.col-8 {
    background-color: $theme-8-col;
  }
  
  .theme.col-9 {
    background-color: $theme-9-col;
  }
  
  .theme.col-10 {
    background-color: $theme-10-col;
  }
  
  .theme.col-11 {
    background-color: $theme-11-col;
  }
  
  .theme.col-12 {
    background-color: $theme-12-col;
  }
  
  .card {
    flex-basis: $flex-1;
  }

  .row {
    flex-direction: row;
  }
  
  [class^=col] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  
  [class^=col] + [class^=col] {
    margin-left: 10px;
  
  .col-1 {
    flex-basis: 8.33%;
  }
  
  .col-2 {
    flex-basis: 16.67%;
  }
  
  .col-3 {
    flex-basis: 25.00%;
  }
  
  .col-4 {
    flex-basis: 33.33%;
  }
  
  .col-5 {
    flex-basis: 41.67%;
  }
  
  .col-6 {
    flex-basis: 50.00%;
  }
  
  .col-7 {
    flex-basis: 58.33%;
  }
  
  .col-8 {
    flex-basis: 66.67%;
  }
  
  .col-9 {
    flex-basis: 75.00%
  }
  
  .col-10 {
    flex-basis: 83.33%;
  }
  
  .col-11 {
    flex-basis: 91.67%;
  }
  
  .col-12 {
    flex-basis: $flex-1;
  }
  }